# Python
__pycache__/
*.py[cod]
*.pyo

# Django
*.log
db.sqlite3
media/

# Migrations
*/migrations/__init__.py
*/migrations/0*.py

# Virtual environment
venv/
env/
.venv/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local